Bookfy.json
[{"id":"684dbbbd.387984","type":"tab","label":"Bookfy","disabled":false,"info":""},{"id":"6bb73538.eee14c","type":"serial in","z":"684dbbbd.387984","name":"","serial":"cf744659.0c44a8","x":320,"y":220,"wires":[["13b72e9b.14f091"]]},{"id":"13b72e9b.14f091","type":"json","z":"684dbbbd.387984","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":220,"wires":[["984d2ef7.1e6a","71fa537c.065b4c"]]},{"id":"984d2ef7.1e6a","type":"change","z":"684dbbbd.387984","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Key","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":200,"wires":[["b39d5e08.e774d"]]},{"id":"71fa537c.065b4c","type":"change","z":"684dbbbd.387984","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Led","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":260,"wires":[["f6e3c132.a556d"]]},{"id":"f6e3c132.a556d","type":"mqtt out","z":"684dbbbd.387984","name":"","topic":"Bookfy_led","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"571256e4.5b4c08","x":900,"y":260,"wires":[]},{"id":"b39d5e08.e774d","type":"mqtt out","z":"684dbbbd.387984","name":"","topic":"Bookfy_keypad","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"571256e4.5b4c08","x":920,"y":160,"wires":[]},{"id":"dbc9fa16.4b4878","type":"mqtt in","z":"684dbbbd.387984","name":"","topic":"Bookfy_keypad","qos":"2","datatype":"auto","broker":"571256e4.5b4c08","nl":false,"rap":true,"rh":0,"x":330,"y":420,"wires":[["90e38d14.ef87e"]]},{"id":"90e38d14.ef87e","type":"debug","z":"684dbbbd.387984","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":420,"wires":[]},{"id":"b44ac35e.7ba62","type":"debug","z":"684dbbbd.387984","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":500,"wires":[]},{"id":"50046a53.e493b4","type":"mqtt in","z":"684dbbbd.387984","name":"","topic":"Bookfy_led","qos":"2","datatype":"auto","broker":"571256e4.5b4c08","nl":false,"rap":true,"rh":0,"x":320,"y":500,"wires":[["b44ac35e.7ba62"]]},{"id":"cf744659.0c44a8","type":"serial-port","serialport":"COM6","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"571256e4.5b4c08","type":"mqtt-broker","name":"broker.hivemq.com","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]